
[LOGGING]
    # Allowed LOGLEVEL
    # DEBUG, WARNING, ERROR, CRITICAL
    LOGLEVEL = DEBUG
    LOGFILE = ./myStrom2mqtt.log
    #LOGMODE= SYSLOG
    #LOGMODE = LOGFILE
    LOGMODE = PRINT
    NAME = myStrom2mqtt
    LOGSERVER= 192.168.2.50

[BROKER]
  HOST= 192.168.20.205
  PORT= 1883
  SUBSCRIBE = 1/SMARTHOME/CH/BE/OPENVPN/MYSTROM01
  PUBLISH =  2/SMARTHOME/CH/BE/OPENVPN/MYSTROM01

[MYSTROM]
  NODE1 = 192.168.2.108
  NODE2 = 192.168.2.116
  NODE3 = 192.168.2.163
  NODE4 = 192.168.2.1

