# Configfile example conifiguration

# comment

[LOGGING]
    # Allowed LOGLEVEL
    # DEBUG, WARNING, ERROR, CRITICAL
    LOGLEVEL = DEBUG
    LOGFILE = S02mqtt.log
    #LOGMODE= SYSLOG
    LOGMODE = PRINT
    NAME = marantec
   # LOGSERVER= 192.168.2.50

[BROKER]
  HOST= 192.168.20.205
  PORT= 1883
  PUBLISH = CONSUMER/CH/BE/GARAGEDOOR
  SUBSCRIBE = PRODUCER/CH/BE/SENSOR01/GARAGEDOOR

[GATES]

  [[1]]
    CLOSED = 3
    DOWN = 5
    OPENED = 11
    UP = 13
    LOCK = 19
    LIGHT = 15
    LED_GREEN = 10
    LED_RED = 8

  [[2]]
    CLOSED = 55
    UP = 52
    OPENED = 211
    DOWN = 213
    LOCK = 215
    LIGHT = 219
    LED_GREEN = 210
    LED_RED = 28

  [[999]]
    CLOSED = 993
    UP = 995
    OPENED = 9911
    DOWN = 9913
    LOCK = 9915
    LIGHT = 9919
    LED_GREEN = 9910
    LED_RED = 998